body {
    background-color: cadetblue;
    margin: 0;
    padding: 0;
    font-family: 'Rubik Mono One', sans-serif;
    scroll-behavior: smooth;
}

.logo-title {
    font-family: 'Jolly Lodger', sans-serif;
    color: black;
}

header {
    background-color: cadetblue;
    color: black;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo-container img {
    height: 40px;
    margin-right: 10px;
}

.nav-container {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: normal;
    transition: color 0.3s ease;
}

nav a:hover,
nav a.active {
    color: #ffd700;
}

/* Responsive Navigation Toggle */
@media only screen and (max-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: cadetblue;
        z-index: 1000;
    }

    nav ul.show {
        display: flex;
    }

    nav ul li {
        margin: 0;
        text-align: center;
    }

    .nav-toggle {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 1001;
    }
}

/* Add these styles for the Home section */
#home {
    text-align: center;
    background-color: cadetblue;
    color: #fff;
    margin-top: 90px;
    padding-top: 90px;
}

.home-content {
    max-width: 800px;
    margin: 0 auto;
}

.home-content h4 {
    font-size: 2.3em;
    margin-bottom: 20px;
    color: black;
}

.home-content p {
    font-size: 0.8em;
    color: black;
}

.home-image img {
    max-width: 100%;
    height: auto;
    margin-top: 30px;
}

/* Add these styles for the Services section */
#services {
    text-align: center;
    padding-top: 90px;
}

.service {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    transition: transform 0.3s ease-in-out;
}

.service:hover {
    transform: scale(1.05);
}

.service img {
    width: 70px;
    margin-right: 20px;
}

.service-content {
    max-width: 800px;
    text-align: left;
    margin: 0 auto;
    overflow: scroll;
}

.service-content h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: black;
}

.service-content p {
    font-size: 0.7em;
    color: black;
    display: block;
}

.service.active .service-content {
    max-height: 500px;
}

/* Add these styles for the accordion functionality */
.service-content {
    max-height: none;
    overflow: visible;
}

.service.active .service-content {
    max-height: none;
}

/* Add these styles for the About Us section */
#about {
    text-align: center;
    padding-top: 90px;
    background-color: cadetblue;
    color: black;
    margin-top: 90px;
}

.about-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.about-icons img {
    width: 50px;
    margin: 0 10px;
}

.about-text {
    max-width: 800px;
    margin: 0 auto;
}

.about-text h3 {
    font-size: 2em;
    margin-bottom: 20px;
    color: black;
}

.about-text img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.about-text p {
    font-size: 0.9em;
    color: black;
}

/* Add these styles for the Contact section */
#contact {
    text-align: center;
    padding: 80px 0;
    background-color: cadetblue;
    color: black;
}

.contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.contact-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.contact-icons img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
}

.contact-text {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}

.contact-text h3 {
    font-size: 2em;
    margin-bottom: 20px;
}

.contact-text p {
    font-size: 0.9em;
    margin-bottom: 10px;
    color: #ffd700;
}

/* Add these styles for the CTA button */
#contactButton {
    background-color: #ffd700;
    color: black;
    padding: 20px 30px;
    font-size: 1em;
    font-family: 'Rubik Mono One', sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contactButton:hover {
    background-color: grey;
}


/* Add these styles for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Add these styles for the footer */
footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 100px 0;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 0.6em;
}

footer img {
    max-width: 100px;
    margin-top: 20px;
}
